<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaforg">
<head>
<meta charset="UTF-8">
<title>Desafio postulación laboral Previred</title>
</head>
<body>
<h1>Desafío técnico Previred - Complemento Valores UF</h1>
<br>
<p>Link de visualización en formato JSON - Alternativa 1</p>
<a href="/metodoUno">Click acá</a>
<p>Link de visualización en formato JSON - Alternativa 2</p>
<a href="metodoDos">Click acá</a>
<p>Descarga de la data en formato CSV</p>
<a href="descargaCsv">Click acá</a>
</body>
</html>